name: Build & Deploy CJ Spider

on:
  push:
    tags:
      - "release-v*"

env:
  IMAGE_NAME: ${{ secrets.DOCKER_ALI_REGISTRY }}/tomorrowbye/cj-spider

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.meta.outputs.tags }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Ali Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_ALI_REGISTRY }}
          username: ${{ secrets.DOCKER_ALI_USERNAME }}
          password: ${{ secrets.DOCKER_ALI_PASSWORD }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=tag
            type=sha,prefix=

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            NEXT_PUBLIC_SUPABASE_URL=${{ secrets.NEXT_PUBLIC_SUPABASE_URL }}
            NEXT_PUBLIC_SUPABASE_ANON_KEY=${{ secrets.NEXT_PUBLIC_SUPABASE_ANON_KEY }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEPLOY_SSH_HOST }}
          port: ${{ secrets.DEPLOY_SSH_PORT }}
          username: ${{ secrets.DEPLOY_SSH_USERNAME }}
          password: ${{ secrets.DEPLOY_SSH_PASSWORD }}
          script: |
            cd /home/wk/wakaja/
            docker compose -f ./docker-compose.yml pull cj-spider
            docker compose -f ./docker-compose.yml up cj-spider -d --force-recreate
            docker image prune -f

      - name: Deployment Success Notification
        if: success()
        run: echo "✅ CJ-Spider deployed successfully!"

      - name: Deployment Failure Notification
        if: failure()
        run: echo "❌ CJ-Spider deployment failed!"
